* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

nav {
  margin-bottom: 18px;
}

.friends {
  display: flex;
  gap: 20px;
  width: 100%;
  overflow-x: auto;
  height: auto;
  cursor: pointer;
}

.friends img {
  width: 50px;
  padding: 10px;
  background: white;
  border-radius: 100%;
  border: 2px solid #17a2f2;
}

.friendCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 200px;
  padding: 18px 20px;
  font-weight: bold;
}

.friendCard:hover {
  background-color: #17a2f2;
  transition: 0.35s;
  color: #fff;
}

.add-new-message {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 20px;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #fff;
}

*::-webkit-scrollbar-thumb {
  background-color: #17a2f2;
  border-radius: 8px;
  border: 2px groove #ffffff;
}

.filter {
  display: flex;
  padding: 15px;
  justify-content: space-between;
}

.filter i {
  color: #17a2f2;
}

.fa-twitter {
  padding-left: 20px;
  padding-right: 140px;
  font-size: 40px;
}

.input-text {
  height: 80px;
}

.input-sender {
  height: 30px;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
}

input:focus::-moz-placeholder {
  opacity: 0;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
}

input:focus:-moz-placeholder {
  opacity: 0;
}

.add-new-message-btn {
  background-color: #17a2f2;
  color: #fff;
  width: 80px;
  border-radius: 50px;
  padding: 10px 20px;
  border: none;
  font-weight: bolder;
}

.add-new-message-btn:hover,
.deleteButton:hover,
.messageCard i:hover {
  cursor: pointer;
  transition: 0.35s;
  transform: scale(1.1);
}

.messageCard {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid #17a2f2;
  padding: 10px 20px;
  margin: 0 15px;
}

.messageCard i {
  color: #17a2f2;
}

.deleteButton {
  background-color: #17a2f2;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-weight: bolder;
}

.messages {
  width: 95vw;
  border: 1px solid #17a2f2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.messages-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.dark-mode {
  background-color: #202124;
  color: #fff;
  transition: 0.5s;
}

.dark-mode .moon-icon,
.sun-icon {
  display: none;
  color: #737eac;
}

.dark-mode .sun-icon {
  display: inline;
}

.moon-icon,
.sun-icon {
  cursor: pointer;
}

.sun-icon i {
  color: #d8c658;
}
@media only screen and (min-width: 767px) {
  main {
    display: flex;
  }

  .logo {
    margin: 8px;
  }

  a {
    padding: 5px;
  }

  .imgNav {
    width: 100%;
    height: 100%;
  }

  .filter {
    margin-top: 40px;
  }

  .friends {
    width: 20vw;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }

  .friendCard {
    border: 1px solid #fff;
    align-items: flex-start;
  }

  .messages {
    width: 80vw;
    margin: 100px;
  }
}
